h1 {
 text-shadow: 8px 8px 5px #00000064;
}
.amarelinhos{
    color: yellowgreen;
}
.italico{
    font-style: italic;
}
#lorem1{
    color: chartreuse;
}
#lorem2{
    color: rgb(119, 0, 255);
}
#lorem3{
    color: rgb(0, 195, 255);
}
#lorem4{
    color: rgb(255, 0, 0);
}
