*{
    background-color: rgb(247, 238, 226);
}
.title{
font-family:Arial, Helvetica, sans-serif;
text-align: center;
}
.text{
    font-family: Arial, Helvetica, sans-serif;

}
.text2{
    text-align: center;
}