.box1 {

    width: 200px;
    height: 200px;
    border: solid 1px;
    margin: 10px;
    background-color: green;


}

.box2 {
    width: 200px;
    height: 200px;
    border: solid 1px;
    margin: 10px;
    background-color: red;
    
}

.box3 {
    width: 200px;
    height: 200px;
    border: solid 1px;
    margin: 10px;
    background-color: yellowgreen;

}

.container {
    border: solid 1px;
    background-color: gray;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
    height: 800px;
    align-items:center;
}