@import url('https://fonts.googleapis.com/css2?family=Mingzat&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
   background-color: #F2F2F2 (103, 103, 0, 0.245); 
}
h1{
    font-family: "Noto Sans", sans-serif;
 color:#2B308C 
    ;
}
h2{
    color:#F20505 ;
}
p{
    font-size: larger;
    color:#45488C ;
}
                                                                                                                                